config SHIELD_HILLSIDE46LINUX_LEFT
    def_bool $(shields_list_contains,hillside46linux_left)

config SHIELD_HILLSIDE46LINUX_RIGHT
    def_bool $(shields_list_contains,hillside46linux_right)

config SHIELD_HILLSIDE46LINUX_DONGLE
    def_bool $(shields_list_contains,hillside46linux_dongle)
