#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// Define mod-morph with a *single* mod trigger for less repetition.
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
                bindings = <BINDING1>, <BINDING2>;)

// CHORDS

// LEFT SIDE

/* Chord for ` / ~ -> LT2 LT1
Tap: ` 
Shft + tap: ~
*/
SIMPLE_MORPH(mph_grave_tilde, SFT, &kp GRAVE, &kp TILDE)
ZMK_COMBO(ch_grave_tilde,  &mph_grave_tilde, LT2 LT1, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Chord for - / + -> LM1 LM0
Tap: - 
Shft + tap: +
*/
SIMPLE_MORPH(mph_minus_plus, SFT, &kp MINUS, &kp PLUS)
ZMK_COMBO(ch_minus_plus,  &mph_minus_plus, LM1 LM0, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/* Chord for = / ! -> LB2 LB1
Tap: = 
Shft + tap: !
*/
SIMPLE_MORPH(mph_eq_excl, SFT, &kp EQUAL, &kp EXCL)
ZMK_COMBO(ch_eq_excl,  &mph_eq_excl, LB2 LB1, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)



// RIGHT SIDE

// Chord for '
ZMK_COMBO(ch_sqt, &kp SQT, RT1 RM1, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Chord for "
ZMK_COMBO(ch_dqt, &kp DQT, RT2 RM2, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)


// Chord for _
ZMK_COMBO(ch_under, &kp UNDER, RM1 RB1, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Chord for \
ZMK_COMBO(ch_blsh, &kp BSLH, RM2 RB2, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Chord for *
ZMK_COMBO(ch_astrk, &kp ASTRK, RT3 RM3, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Chord for &
ZMK_COMBO(ch_amps, &kp AMPS, RM3 RB3, DEF_L DEF_HRM_L, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// BOTH SIDES

// Unlock ZMK Studio
ZMK_COMBO(ch_studio_unlock,  &studio_unlock, LH4 RH4, DEF_L DEF_HRM_L, COMBO_TERM_SLOW)