/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/hillside46.h"

#include "hillside-common.dtsi"

#include "mouse.dtsi"

// Layers
#define DEF_HRM_L       0
#define DEF_L           1
#define SYMBOL_L        2
#define NAV_L           3
#define SHORTCUTS_L     4
#define ADJ_L           5
#define SYSTEM_L        6

#include "shortcuts.dtsi"
#include "hillside-ht.dtsi"

ZMK_CONDITIONAL_LAYER(adjust_layer, SHORTCUTS_L NAV_L, ADJ_L)
ZMK_CONDITIONAL_LAYER(system_layer, SYMBOL_L NAV_L, SYSTEM_L)

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&lt {
    tapping-term-ms = <220>;
    quick-tap-ms = <190>;
};

/ {
    behaviors {
        thumb_mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <190>;
            bindings = <&kp>, <&kp>;
            display-name = "Thumb-Mod-Tap";
        };
    };
};

/ {

    keymap {
        compatible = "zmk,keymap";

        default_hrm_layer {
            display-name = "DEFAULT-HRM";
            /* COLEMAK-DH with home row mods */
            
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &kp Q                    &kp W                    &kp F                    &kp P                    &kp B                                                                                                                              &kp J                    &kp L                    &kp U                    &kp Y                   &kp SEMI                 &none                   
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHIFT               &kp A                    &hml LCTRL R             &hml LALT S              &hml LGUI T              &kp G                                                                                                                              &kp M                    &hmr RGUI N              &hmr RALT E              &hmr RCTRL I            &kp O                    &kp RSHIFT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &kp Z                    &kp X                    &kp C                    &kp D                    &kp V                    &kp ENTER                                                                        &kp CAPS                 &kp K                    &kp H                    &kp COMMA                &kp DOT                  &kp SLASH               &none            
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &none                    &lt SYMBOL_L SPACE       &thumb_mt LSHIFT SPACE   &lt SHORTCUTS_L ESC            &lt NAV_L ENTER          &thumb_mt RSHIFT BSPC    &lt SYMBOL_L TAB         &kp DEL               
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        default_layer {
            display-name = "DEFAULT";
            /* COLEMAK-DH */

            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &kp Q                    &kp W                    &kp F                    &kp P                    &kp B                                                                                                                              &kp J                    &kp L                    &kp U                    &kp Y                   &kp SEMI                 &kp RALT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHIFT               &kp A                    &kp R                    &kp S                    &kp T                    &kp G                                                                                                                              &kp M                    &kp N                    &kp E                    &kp I                   &kp O                    &kp RSHIFT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &kp LGUI                 &kp Z                    &kp X                    &kp C                    &kp D                    &kp V                    &kp ENTER                                                                        &kp CAPS                 &kp K                    &kp H                    &kp COMMA                &kp DOT                 &kp SLASH                &kp RCTRL
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &none                    &lt SYMBOL_L SPACE       &thumb_mt LSHIFT SPACE   &lt SHORTCUTS_L ESC            &lt NAV_L ENTER          &thumb_mt RSHIFT BSPC    &lt SYMBOL_L TAB         &kp DEL               
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        symbol_layer {
            display-name = "SYMBOLS";
            /* Symbols and Numbers*/

            bindings = <

// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &kp N7                   &kp N8                   &kp N9                   &none                                                                                                                              &none                    &kp LBKT                 &kp RBKT                 &kp AT                  &kp PRCNT                &none                    
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &kp N0                   &hmr RCTRL N1            &hmr RALT N2             &hmr RGUI N3             &none                                                                                                                              &none                    &hmr RGUI LBRC           &hmr RALT RBRC           &hmr RCTRL PIPE         &kp CARET                &none            
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &kp N4                   &kp N5                   &kp N6                   &none                    &none                                                                            &none                    &none                    &kp LPAR                 &kp RPAR                 &kp DLLR                &kp HASH                 &none          
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &trans                   &trans                   &trans                   &trans                         &trans                   &trans                   &trans                   &trans
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

        };

        nav_layer {
            display-name = "NAV";
            /* Navigation and Mouse   */

            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &msc SCRL_RIGHT          &mmv MOVE_UP             &msc SCRL_LEFT           &none                                                                                                                              DesktopLeft              &mkp LCLK                &mkp RCLK                DesktopRight            &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &none                                                                                                                              &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT               &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &msc SCRL_UP             &none                    &msc SCRL_DOWN           &none                    &none                                                                            &none                    &kp HOME                 &kp PG_DN                &kp PG_UP                &kp END                 &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &trans                   &trans                   &trans                   &trans                         &trans                   &trans                   &trans                   &trans
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

        };

        shortcuts_layer {
            display-name = "SHORTCUTS";
            /* Shortcuts */

            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    Previous                 Back                     Forward                  Next                     &none                                                                                                                              &none                    &none                    &none                    &none                   &none                    &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    Save                     &none                    Find                     &none                                                                                                                              &none                    &none                    &none                    &none                   &none                    &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
    &none                    Undo                     Cut                      Copy                     Paste                    &none                    &none                                                                            &none                    &none                    &none                    &none                    &none                   &none                    &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &trans                   &trans                   &trans                   &trans                         &trans                   &trans                   &trans                   &trans
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

        adj_layer {
            display-name = "ADJUST";
            /* Adjustments */

            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                     &none                     &tog DEF_HRM_L            &none                                                                                                                              &none                   &kp C_BRI_DN            &kp C_BRI_UP             &none                    &none                  &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                      &none                   &none                   &none                   &none                       &none                                                                                                                               &none                  &kp C_VOL_DN              &kp C_VOL_UP              &none                 &none                   &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &none                      &none                   &none                   &none                   &none                       &none                      &none                                                                         &none                   &none                       &none                    &none                   &none                    &none                  &none 
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &trans                   &trans                   &trans                   &trans                         &trans                   &trans                   &trans                   &trans
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

        };

        system_layer {
            display-name = "SYSTEM";
            /* Bluetooth and System layer */

            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                                                                         ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
    &none                       &none                     &none                     &none               &none                     &none                                                                                                                                 &none                     &out OUT_USB              &out OUT_BLE           &ext_power EP_OFF        &ext_power EP_ON         &none                  
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                                                                         ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
       &sys_reset             &bt BT_SEL 0                &bt BT_SEL 1         &bt BT_SEL 2                &bt BT_SEL 3                &bt BT_SEL 4                                                                                                                      &none                 &none                       &none                &none                   &none                     &sys_reset
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────╮                                                       ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
       &bootloader            &none                       &none                       &none                &none                       &none                &bt BT_CLR                                                                           &bt BT_CLR_ALL          &none                 &none                       &none                &none                   &none                     &bootloader
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┬────────────────────────┬────────────────────────╮     ╭────────────────────────┬────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
                                                                                                        &trans                   &trans                   &trans                   &trans                         &trans                   &trans                   &trans                   &trans
//                                                                                                     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯     ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };
    };
};

#include "hillside-combos.dtsi"