

/ {
    macros {
        /* space fmt */
        space_fmt: space_fmt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&kp SPACE>
                , <&kp F>
                , <&kp M>
                , <&kp T>;
        };
    };
    
};