

/ {
    
    behaviors {
        // Sends "g" then "t" -> Vim: go to next tab
        gt_cmd: gt_cmd {
            compatible = "zmk,behavior-macro";
            label = "GT_CMD";
            #binding-cells = <0>;
            bindings = <
                &kp G
                &kp T
            >;
        };

        // Sends "g" then "Shift+t" -> Vim: go to previous tab
        gT_cmd: gT_cmd {
            compatible = "zmk,behavior-macro";
            label = "Gt_CMD";
            #binding-cells = <0>;
            bindings = <
                &kp G
                &kp LS(T)
            >;
        };
    };
};
    
