config SHIELD_HILLSIDE46MAC_LEFT
    def_bool $(shields_list_contains,hillside46mac_left)

config SHIELD_HILLSIDE46MAC_RIGHT
    def_bool $(shields_list_contains,hillside46mac_right)

config SHIELD_HILLSIDE46MAC_DONGLE
    def_bool $(shields_list_contains,hillside46mac_dongle)
